
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Inward Note</title>
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" />
</head>
<body>
    <div class="content-wrapper" runat="server" id="divPanel1">
        <div class="page-header" style="height:5px;">
            <h4 class="page-title">Stock Report</h4>
            <nav aria-label="breadcrum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Dashboard")">Master</a>
                    </li>
                    <li class="breadcrumb-item active">Stock Report</li>
                </ol>
            </nav>
        </div>
        <hr />
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-12 mb-2" style="float:right">
                                @using (Html.BeginForm("ExprotAsPDF", "StockReport", FormMethod.Post, new { @style = "float:right" }))
                                {
                                <button class="btn btn-danger" style="float:right;"><i class="fas fa-file-pdf"></i> Export To PDF</button>
                                }
                                </div>
                            <br />
                            <table id="tblStockReport" class="ui celled table">
                                <thead class="text-center">
                                    <tr>
                                        @*<th>ID</th>*@
                                        <th>Item Code</th>
                                        <th>Item Name</th>
                                        <th>Item Unit Price</th>
                                        <th>Stock Quantity</th>
                                        <th>Inventory Value</th>
                                        <th>ReOrder Level</th>
                                        <th>Item ReOrder Quantity</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    @*<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.semanticui.min.css" rel="stylesheet">*@


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>*@



    <script>
        $(document).ready(function () {
            BindStockReport();
        });

        function BindStockReport() {
            $('#tblStockReport').dataTable().fnDestroy();
            $('#tblStockReport').DataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "sAjaxSource": "/StockReport/GetStock",

                "pageLength": 5,

                "columns": [
                   /* { "data": "ID", "autoWidth": true },*/
                    { "data": "Item_Code", "autoWidth": true },
                    { "data": "ItemName", "autoWidth": true },
                    { "data": "ItemUnitPrice", "autoWidth": true },
                    { "data": "StockQuantity", "autoWidth": true },
                    { "data": "InventoryValue", "autoWidth": true },
                    { "data": "ReOrderLevel", "autoWidth": true },
                    { "data": "ItemReOrderQuantity", "autoWidth": true },
                ]
            });
        }

        function RemoveCompany(id) {
            if (confirm("Are you Sure? You want to remove this company.")) {

                BindCompany();
            }
        }

    </script>
}
