@model InVanWebApp_BO.CompanyBO
@{
    ViewBag.Title = "Delete Company";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    @using (Html.BeginForm("Delete", "SupplierCustomerMaster", FormMethod.Post))
    {
        @Html.HiddenFor(r => r.ID)
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Delete Supplier/Customer</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Display("Company Name")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CompanyName)
                    </dd>
                </dl>
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    }
</div>


